#canv{
	border: rgba(132, 39, 54, 0.73) 1px solid;
	margin: 2px;

}
#boxLoad {
	position: absolute;
	top: 100px;
	left: 100px;
	border: solid 1px red;
	width: 200px;
	padding: 20px;
	background: gainsboro;
	font-family: cursive;
}
#operationList{
	flex-direction: column;
	width: 15em;
	border-style: solid;
	max-width: 100%;
	overflow: auto;
}
#del{
	position: relative;
	left: 5px;
	padding: 7px 15px;
	margin: auto;
}
#textBox {
	border-style: solid;
	height: 3em;
	width: 15em;
}
#textSise{
	width: 3em;
	margin: 2px;
}
p {
	display: block;
	border: 1px solid;
	padding: 5px;
	margin: 1px;
	font-size: small;
	font-weight: bolder;
}
#head_contener{
	display: flex;
}
#canv_contener{
	display: flex;
}
#options_contener{
	display: flex;
}